services:
  prepare:
    image: alpine:3.21.3
    volumes:
      - .:/experiment:rw
    entrypoint: /bin/sh -c
    command:
      - |
        mkdir -p /experiment/data
        chmod 777 /experiment/data
        mkdir -p /experiment/charts
        chmod 777 /experiment/charts

  classic-vmc-simulation:
    image: angelacortecchia/${PROJECT_NAME:-unknown}-simulation:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./docker/classicVMC/Dockerfile
    depends_on:
      - prepare
    volumes:
      - ./data:/experiment/data

  fieldVMC-fixed-leader-simulation:
    image: angelacortecchia/${PROJECT_NAME:-unknown}-simulation:${VERSION:-latest}
    build:
      context: .
      dockerfile: ./docker/fixedLeaderFieldVMC/Dockerfile
    depends_on:
      prepare:
        condition: service_completed_successfully
      classic-vmc-simulation:
        condition: service_completed_successfully
    volumes:
      - ./data:/experiment/data

  charts:
    depends_on:
      prepare:
        condition: service_completed_successfully
      fieldVMC-fixed-leader-simulation:
        condition: service_completed_successfully
    image: angelacortecchia/${PROJECT_NAME:-unknown}-charts:${VERSION:-latest}
    build:
      dockerfile: ./docker/charts/Dockerfile
      context: .
    volumes:
      - ./data:/experiment/data
      - ./charts:/experiment/charts

  finish:
    depends_on:
      prepare:
        condition: service_completed_successfully
      fieldVMC-fixed-leader-simulation:
        condition: service_completed_successfully
      charts:
        condition: service_completed_successfully
    image: alpine:3.21.3
    volumes:
      - .:/experiment:rw
    entrypoint: /bin/sh -c
    command:
      - |
        find /experiment/data -type d -exec chmod 777 {} \;
        find /experiment/charts -type d -exec chmod 777 {} \;
        find /experiment/data -type f -exec chmod 666 {} \;
        find /experiment/charts -type f -exec chmod 666 {} \;